/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
    margin: 10px auto;
}

h4 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Layout */
.l-container {
    max-width: 1200px;
    margin: 10px auto;
}

.l-header {
    position: relative;
    float: left;
    width: 100%;
}

.l-header img {
    width: 80px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.l-header-title {
    position: relative;
    float: left;
    margin-top: 20px;
    color: #313335;
}

.l-main {
    position: relative;
    float: left;
    width: 700px;
    margin-top: 20px;
}

.l-widget-container {
    position: relative;
    float: right;
    margin: 20px auto;
    width: 400px;
}

.l-footer {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.l-footer img {
    width: 50px;
    position: relative;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.l-footer h4 {
    position: relative;
    float: left;
    margin-top: 15px;
}

.l-footer p {
    position: relative;
    float: right;
    margin-top: 15px;
}

/* Módulos */
.card {
    position: relative;
    float: left;
    width: 300px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px 20px;
    color: #313335;
}

.card img {
    width: 80px;
    max-height: 80px;
}

.card h4 {
    font-weight: bold;
}

.card p {
    text-align: justify;
    margin: 10px auto;
}

.tags {
    background-color: #729E2E;
    color: #fff;
    font-weight: bold;
}

.box {
    margin: 10px auto;
    width: 90%;
    height: 65px;
    border-radius: 5px;
}

.box-img {
    height: 100%;
    position: relative;
    float: left;
}

.box-title {
    font-size: 36px;
    position: relative;
    float: right;
    margin-right: 30px;
    color: #fff;
    font-weight: bold;
}

/* Theme */
.theme-tag-bg {
    background-color: #729E2E;
    color: #fff;
    font-weight: bold;
}

.theme-html {
    background-color: #E93E30;
}

.theme-css {
    background-color: #299ED5;
}

.theme-js {
    background-color: #F7E018;
}
